<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Add List</title>
</head>
<body>
    <h1>Item Add List</h1>
    <hr>
    <form action="/list/add" method="post">
        <p>
            Name <br>
            <input type="text" name="name">
        </p>
        <p>
            Description <br>
            <textarea name="description" cols="30" rows="10">input here!</textarea>
        </p>

        <p>
            Price
            <input type="number" name="price">
        </p>

        <p>
            <button type="submit"> Submit </button>
        </p>
    </form>
</body>
</html>