<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <h1 style="text-align: center;">Add User Profile</h1>
<body>

    <form action="/users/add" method="post">

        <p>
            <label for="adress">adress</label>
            <input type="text" name="adress" placeholder="add address here">
        </p>
    
        <p>
            <label for="phone">phone</label>
            <input type="text" name="phone" placeholder="add phone here">
        </p>

        <p>
            <input type="submit" value="submit">
        </p>
    </form>
</body>
</html>