<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warung-Online</title>
</head>
<body>
<<<<<<< HEAD
     <h1>Warung-Online!</h1>
     <hr>
     <a href="/users">
        <h4>Mulai Belanja!</h4>
     </a>
     <hr>
=======
     <h1 style="text-align: center;">This is home!</h1>

    <h1 style="text-align: center;">
        <p>
            <h1>Register Duluu yang belum punya akun</h1>
            <a href="/register">Register</a> <br>
         </p>
    </h1>

    <h1 style="text-align: center;">
         <p>
             <h1>Login kalo sudah Register/h1> <br>
            <a href="/login">Login</a>
         </p>
    </h1>
>>>>>>> f4e98e3e2430d1e7c296703396a9ff92ec4fe136
</body>
</html>