<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <h1 style="text-align: center;">Register</h1>
<body>

    <% if(errors){  %>
        <p style="color: red;"> <%= errors%> </p><br>
    <% } %>
    <form action="/register" method="post">
        <p>
            <label for="title">Username</label>
            <input type="text" name="name" placeholder="">
        </p>
    
        <p>
            <label for="title">Password</label>
            <input type="text" name="password" placeholder="">
        </p>
    
        <p>
            <label for="title">Email</label>
            <input type="text" name="email" placeholder="">
        </p>

        <p>
            <label for="title">Role</label>
            <input type="text" name="role" placeholder="">
        </p>
        <p>
            <input type="submit" value="submit">
        </p>
    </form>
</body>
</html>