<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warung-Online</title>
</head>
<body>
     <h1>User Profiles</h1>
     <hr>
     <a href="/list">== Back ==</a> | 
     <%if(!user.UserProfile) {  %>
     <a href="/users/add">Add Profile</a>
     <%}%>
     <hr>
    <p>

        Username: <%= user.name %>

    </p>
    <p>

        Email: <%= user.email %>
        
    </p>
    <p>
        adress: <%if(user.UserProfile) {  %> <%= user.UserProfile.adress %> <%}%>
        
    </p>
    <p>
        phone:  <%if(user.UserProfile) {  %> <%= user.UserProfile.phone %> <%}%>
        
    </p>
    <p>
        
       <!-- <a href="/users/edit">Edit Profile</a> -->  
        
    </p>
</body>
</html>