<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warung-Online</title>
</head>
<body>
     <h1>Register here!</h1>
     <hr>
     <form action="/users/register" method="post">
        <!-- data ini masuk ke table user -->
        <p>
            username:
            <input type="text" name="name">
        </p>

        <p>
            password:
            <input type="text" name="password">
        </p>

        <p>
            email:
            <input type="text" name="email">
        </p>

        <!-- data ini masuk ke table userProfiles -->
        
        <p>
            adress:
            <input type="text" name="adress">
        </p>

        <p>
            phone number:
            <input type="text" name="phone">
        </p>


        <button type="submit" > Submit </button>
    </form>
</body>
</html>